<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
   <link rel="stylesheet" href="/src/app/app.component.css">
</head>
<body>
  <nav class="navbar navbar-white">
   <!-- Navbar content -->
    <div class="container-fluid">
  <a class="navbar-brand">
    <p class="logo-text">
     <span class="blue-text">Ship</span><span class="black-text">tech</span>
     <!-- <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
     <!-- <i class="fa fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" aria-hidden="true"></i> -->
     <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i></button>
     <small>  MASTER VIEW</small>
    </p></a>
    <nav class="navbar navbar-dark ">

      <div class="container-fluid justify-content-end">
        <div class="icons">
          <div class="right-icon">
        <i class="bi bi-send black-text"></i>
        <i class="bi bi-person-circle black-text"></i>
        <i class="bi bi-question-circle"></i>
        </div>
      </div>
      </div>
    </nav>
  </div>
</nav>
<nav class="navbar navbar-dark" style="background-color:rgba(15, 25, 47, 0.8)">

  <!-- Navbar content -->

   <ol class="breadcrumb">
<li class="home"><a>
  <i class="fa-solid fa-house-chimney"></i>
  Masters List</a></li>
           <li class="breadcrumb-item"><a>Agreement Type List</a></li>
        </ol>
      </nav>  
       <!-- table -->
          
 <div id="app-root">
  <app-agreement-list></app-agreement-list>
</div> 
<hr id="breakline">
<router-outlet> </router-outlet> 
<footer class="fixed-bottom text-center py-1" style="background-color:#f1e8e8;">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-md-start">
              <p>Proprietary and Confidential</p>
          </div>
          <div class="col-md-6 text-md-end">
              Copyright © 2017 Shiptech
          </div>
      </div>
</div>
</footer>
<!-- <div class="container mt-4">
  <app-modal></app-modal>
</div> -->
</body>
</html>